# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Model artifacts (ML)
# =========================
models/*.joblib
models/*.pkl

# =========================
# Logs / temp
# =========================
*.log
*.tmp

# =========================
# Jupyter (if ever used)
# =========================
.ipynb_checkpoints/

# =========================
# Dataset (IMPORTANT)
# =========================
original_data_set/

# =========================
# Git metadata safety
# =========================
.gitignore~
